body {
    background: rgb(227,74,51);
    background: linear-gradient(145deg, rgba(227,74,51,1) 0%, rgb(244, 206, 152) 100%);
    min-height: 200vh;
}

.map-country {
    // stroke: rgba(0,0,0,0.2);
    stroke-width: 1px;
}

.map-country:hover {
    filter: contrast(70%);
}

li a {
    color: white !important;
}

.world-outline {
    // fill: #40B8C5;
    // fill: rbga(0, 0, 0, 0.01);
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 1.0px;
}

.map-line {
    fill: none;
}