#map-section {
    background: rgb(227,74,51);
    background: linear-gradient(-45deg, black 0%, rgb(20, 17, 44) 100%);
    min-height: 100vh;
    margin-bottom: -70px;
}

.map-country {
    stroke-width: 1px;
}

.map-country:hover {
    filter: contrast(70%);
}

li a {
    color: white !important;
}

.world-outline {
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 1.0px;
}

.world-shadow {
    pointer-events:none;
}

.map-line {
    fill: none;
}

#map-info {
    transition: opacity 0.5s;
    opacity: 1;
    
    position: absolute;
    right: 40px;
    width: 300px;
    margin: 20px;
    background-color: rgba(28, 78, 99, 0.3);
    border-radius: 5px;
    color: white;
    text-align: center;
}