// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;900&family=Roboto&display=swap');

body, p, ul {
    margin: 0;
}

svg {
    .bubble {
        text {
            font-family: 'Nunito';
            font-weight: 700;
            // font-size: 10px;
        }
    }
}

.chart-container .chart-placeholder {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 0 3rem;
    height: 500px;
}

section {
    margin: 5rem 0;
    h2 {
        font-family: 'Nunito';
        font-weight: 700;
    }
    p {
        text-align: justify;
    }

    .statistic {
        .col {
            padding: 0 1.5rem;
        }
    }

    .section-dark-body {
        padding: 2rem 0;
        background-color: #d7301f;
        h2, p, li {
            color: #fef0d9;
        }

        .chart-container {
            padding-left: 3rem;
        }

        .chart-container > div {
            padding: 1rem;
            background-color: white;
            border-radius: 5px;
            -webkit-box-shadow:0px 0px 39px 10px rgba(62,66,66,0.22);
            -moz-box-shadow: 0px 0px 39px 10px rgba(62,66,66,0.22);
            box-shadow: 0px 0px 39px 10px rgba(62,66,66,0.22);
        }
        .statistic-positive {
            background: #FDCC8A;
            background: linear-gradient(to right, #FDCC8A 0%, #FFFFFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .statistic-negative {
            background: #FDCC8A;
            background: linear-gradient(to right, #FDCC8A 0%, #FFFFFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .statistic-description {
            color: #fcd494;
        }
    }
    .section-dark-header {
        height: 200px;
        background-image: url('./transition-top.svg');
        background-position: bottom;
    }
    .section-dark-footer {
        height: 200px;
        background-image: url('./transition-bottom.svg');
    }
}

.chart-title {
    font-family: 'Nunito';
    font-weight: 200;
    font-size: 1.2em;
}
.chart-label, .swatches-label, .tick text {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 11px;
}

.definition {
    width: 75%;
    text-align: justify;
}

.definition-subtitle {
    color: rgba(0, 0, 0, 0.25);
    font-style: italic;
    font-size: 0.8em;
}

.definition-subtitle span {
    margin-right: 0.5rem;
}

.statistic-container {
    .statistic-value {
        font-size: 3.5em;
        font-family: 'Nunito';
        font-weight: 900;
    }
    .statistic-positive {
        background: #16a34a;
        background: linear-gradient(to right, #16a34a 0%, #BBF7D0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .statistic-negative {
        background: #D7301F;
        background: linear-gradient(to right, #D7301F 0%, #FEF0D9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .statistic-description {
        color: rgba(0, 0, 0, 0.35);
        text-align: justify;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
    }
}

footer {
    .footer-header {
        height: 200px;
        background-image: url('./transition-top.svg');
        background-position: bottom;
    }
    .footer-body {
        padding: 2rem 0;
        color: #fef0d9;
        font-family: 'Nunito';
        font-weight: 700;
        background-color: #d7301f;
    }
}

/*

REIN


*/

#map-container {
    width: 100%;
    background-color: #EAE6DF;
    /* height: 800px; */
    /* float: left; */
}

#item-list-container {
    position: fixed;
    top: 90px;
    left: 20px;
}

.country:hover {
    stroke-width: 1px;
    cursor: pointer;
    filter: brightness(85%);
    /* transition: all 0.3s; */
}

#tooltip {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.7);
    max-width: 200px;
    color: rgba(0,0,0,0.6);
}
  
/*

LAURENT

*/

.slider {
    width: 100%;
    overflow: hidden;
}

#slider-container {
    display: flex;
    transform: translateX(0%);
    transition: transform 2s linear;
    animation: slide 300s linear;
}

.slider-item {
    margin-right: 30px;
    font-size: large !important;
}

.slider-item:hover {
    cursor: pointer;
}

@keyframes slide {
    from {
        transform: translateX(-1000%);
    }
    to {
        transform: translateX(0%);
    }
}

#pie-chart {
    width: 100%;
}

.bar-chart {
    width: 100%;
}
img {
    width: 70%;
    margin-bottom: 2vh;
}
#dynamic-info {
    text-align: center;
}
.title {
    display: inline-block;
}
.buttons {
    display: flex !important;
    justify-content: center;
    margin-bottom: 10px;
}

#bubbles-2{
    margin-bottom: 8vh;
}
.circles:hover{
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
.a-score{
    background-color: '#1e8f4e' !important;
}
.button-div {
    display: flex;
    justify-content: center;
}
  
.button-div button {
    margin: 0 5px;
}

#eco-score-div {
    display: flex;
    justify-content: center;
}
.police {
    font-family: 'Nunito';
    font-weight: 700;
}
.progress {
    margin-bottom: 10px;
}



.world-outline {
    fill: none;
    // fill: rbga(0, 0, 0, 0.01);
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width: 1.0px;
}

.map-line {
    fill: none;
    // stroke: rgba(0, 0, 0, 0.25);
    // stroke-width: 2px;
}

.back-line {
    fill: none;
    stroke: #000;
    stroke-opacity: .05;
    stroke-width: .5px;
}