.slider {
    width: 100%;
    overflow: hidden;
}

#slider-container {
    display: flex;
    transform: translateX(0%);
    transition: transform 2s linear;
    animation: slide 300s linear;
}

.slider-item {
    margin-right: 30px;
    font-size: large !important;
}

.slider-item:hover {
    cursor: pointer;
}

@keyframes slide {
    from {
        transform: translateX(-1000%);
    }
    to {
        transform: translateX(0%);
    }
}

#pie-chart {
    margin-top: 4vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.bar-chart {
    height: 15vh;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#dynamic-info {
    text-align: center;
}
.title {
    display: inline-block;
}
.buttons {
    display: flex !important;
    justify-content: center;
    color: rgb(230, 215, 0);
}

.btn {
    display: block;
}
#bubbles-2{
    margin-bottom: 3vh;
}
.circles:hover{
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
.a-score{
    background-color: '#1e8f4e' !important;
}